<a href="https://colab.research.google.com/github/Ashidhi/INTRO-TO-SQL/blob/main/exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import auth
auth.authenticate_user()  # This will prompt you to authorize

#import the Python package
from google.cloud import bigquery

In [4]:
# List all tables in the dataset
tables = list(client.list_tables(dataset_ref))

# Print the number of tables
print("Number of tables in 'chicago_crime':", len(tables))

Number of tables in 'chicago_crime': 1

1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [3]:
# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [6]:
num_tables = 1      # Store the answer as num_tables and then run this cell

print(num_tables)

1

2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [9]:
# Construct a reference to the "chicago_crime" table
table_ref = dataset_ref.table("crime")

# API request - fetch the table
table = client.get_table(table_ref)

# Print information on all the columns in the "crime" table in the  dataset
table.schema

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', None, None, (), None),
 SchemaField('case_number', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('date', 'TIMESTAMP', 'NULLABLE', None, None, (), None),
 SchemaField('block', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('iucr', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('primary_type', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('description', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('location_description', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('arrest', 'BOOLEAN', 'NULLABLE', None, None, (), None),
 SchemaField('domestic', 'BOOLEAN', 'NULLABLE', None, None, (), None),
 SchemaField('beat', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('district', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('ward', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('community_area', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('fbi_code', 'STRING', 'NULLABLE', None, None, (), None),
 SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('year', 'INTEGER', 'NULLABLE', None, None, (), None),
 SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', None, None, (), None),
 SchemaField('latitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('longitude', 'FLOAT', 'NULLABLE', None, None, (), None),
 SchemaField('location', 'STRING', 'NULLABLE', None, None, (), None)]

In [10]:
num_timestamp_fields = 2
num_timestamp_fields

2

3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [11]:
fields_for_plotting = ['latitude', 'longitude']
fields_for_plotting

['latitude', 'longitude']

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [14]:
# Fully qualified table name as a string
table_id = "bigquery-public-data.chicago_crime.crime"
rows = client.list_rows(table_id, max_results=10)
# Print geographic columns
for row in rows:
    print(f"latitude: {row.get('latitude')}, longitude: {row.get('longitude')}, location: {row.get('location')}")

latitude: 41.885191719, longitude: -87.624486846, location: (41.885191719, -87.624486846)
latitude: 41.885729587, longitude: -87.625821329, location: (41.885729587, -87.625821329)
latitude: 41.888077161, longitude: -87.625578746, location: (41.888077161, -87.625578746)
latitude: 41.886832476, longitude: -87.627557257, location: (41.886832476, -87.627557257)
latitude: 41.884790951, longitude: -87.624469241, location: (41.884790951, -87.624469241)
latitude: 41.87799875, longitude: -87.642904147, location: (41.87799875, -87.642904147)
latitude: 41.882738916, longitude: -87.635328699, location: (41.882738916, -87.635328699)
latitude: 41.87798283, longitude: -87.644365761, location: (41.87798283, -87.644365761)
latitude: 41.887845852, longitude: -87.624560336, location: (41.887845852, -87.624560336)
latitude: 41.885888079, longitude: -87.627942238, location: (41.885888079, -87.627942238)